.content ul{
    padding-left: var(--space-medium);
}
.content li{
    list-style:square;

}
.content .date {
    font-style: italic;
}

/* Galaxy Note, iPhone max */
@media (min-width: 400px) {
    .content .grid{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    grid-column-gap: var(--space-big);
    grid-row-gap: var(--space-medium);
}
} 

/*Tablets*/
@media (min-width: 550px) {
    .content .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr; */
    grid-column-gap: var(--space-big);
    grid-row-gap: var(--space-medium);
}
}

/**/
@media (min-width: 750px) {
    .content .grid{
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-column-gap: var(--space-big);
    grid-row-gap: var(--space-medium);
}
}

/* Galaxy Note, iPhone max */
@media (min-width: 400px) {
    .content .skills{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--space-big);
    grid-row-gap: var(--space-medium);
}
} 
/*Tablets*/
@media (min-width: 550px) {
    .content .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr; */
    grid-column-gap: var(--space-big);
    grid-row-gap: var(--space-medium);
}
}
/**/
@media (min-width: 750px) {
    .content .skills {
    /* display: grid; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-column-gap: var(--space-big);
    grid-row-gap: var(--space-medium);
}
}
/* Galaxy Note, iPhone max */
@media (min-width: 400px) {
    .content .article-item{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    grid-column-gap: var(--space-big);
    grid-row-gap: var(--space-medium);
}

} 

/*Tablets*/
@media (min-width: 550px) {
    .content .article-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr; */
    grid-column-gap: var(--space-big);
    grid-row-gap: var(--space-medium);
}
}

/**/
@media (min-width: 750px) {
    .content .article-item{
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-column-gap: var(--space-big);
    grid-row-gap: var(--space-medium);
}
}