.footer .contact-links {
    padding-left: 0;
}
.footer .contact-links li{
    list-style: none;
    margin-bottom: var(--space-small);
}

.footer .conact-links a{
    padding: 4px;
    background-color: black;
    color: white;
}